body{
    color: #fff;
    background-image: url(../images/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.title-question{
    font-size: 20px;
}
.featurette-heading{
  color: #000000;
}
.lead{
  color: #000000;
}

.form-questions{
    display: none;
}

.floating-label-form-group {
    posición : relativa ;
    borde inferior : 1 px  sólido  # e9ecef ;
  }
  
  .floating-label-form-group  input ,
  .floating-label-form-group  textarea {
    tamaño de fuente : 1.5 em ;
    posición : relativa ;
    índice z : 1 ;
    relleno-derecho : 0 ;
    relleno-izquierda : 0 ;
    cambiar el tamaño : ninguno ;
    borde : ninguno ;
    radio de borde : 0 ;
    fondo : ninguno ;
    -webkit-box-shadow : ninguno  ! importante ;
    box-shadow : ninguno  ! importante ;
  }
  
  .floating-label-form-group  label {
    tamaño de fuente : 0.85 em ;
    altura de línea : 1.764705882 em ;
    posición : relativa ;
    índice z : 0 ;
    arriba : 2 em ;
    pantalla : bloque ;
    margen : 0 ;
    -webkit-transición : parte superior  0.3 s  facilidad , la opacidad 0,3 s  facilidad ;
    transición : facilidad de 0.3 s superior  , opacidad de 0.3 s facilidad ;  
    alineación vertical : medio ;
    alineación vertical : línea de base ;
    opacidad : 0 ;
  }
  
  .floating-label-form-group : not ( : primer hijo ) {
    relleno-izquierda : 14 px ;
    borde izquierdo : 1 px  sólido  # e9ecef ;
  }
  
  .floating-label-form-group-with-value  label {
    arriba : 0 ;
    opacidad : 1 ;
  }
  
  .floating-label-form-group-with-focus  label {
    color : # 1abc9c ;
  }
  
  form  .row : primer-hijo  .floating-label-form-group {
    borde superior : 1 px  sólido  # e9ecef ;
  }